@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121214;
  background-image: url('../../background-galaxy.png');
  background-size: cover;
  background-repeat: no-repeat;

  overflow-y: overlay;
}

input[type='time']::-webkit-calendar-picker-indicator,
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  display: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
