@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121214;
  background-image: url('../../background-galaxy.png');
  background-size: cover;
  background-repeat: no-repeat;

  overflow-y: overlay;
}
